img {
    margin-left: 0.5rem;
    width: 2rem;
    float: right;
}

.title {
    float: left !important;
}

button {
    float: right;
}

.menu {
    width: 100% !important;
    margin-left: 30%;
}

.right-icons {
    margin-top: -1.2rem;
    margin-bottom: 1rem;
    margin-right: 1.5rem;
}