.app-toolbar {
    position: fixed;
    width: 100%;
    top: 0; /* Sets the sticky toolbar to be on top */
    z-index: 1000; /* Ensure that your app's content doesn't overlap the toolbar */
}

.parallax {
    /* The image used */
  background-image: url("./assets/images/paysage.jpg");

  /* Set a specific height */
  min-height: 20rem; 
  line-height: 15rem;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  text-align: center;
  text-justify: auto;
  font-size: 1.8rem;
  font-style: italic;
  margin: auto;
  border-top: #3ca2c5 solid 2rem;
}

.name-quote {
    margin-top: -10rem
}

.fab {
    top: auto !important;
    right: 3rem !important;
    bottom: 4rem !important;
    left: auto !important;
    position: fixed !important;
    z-index: 300 !important;
}

.mailIcon {
    color: white !important;
    animation: nomargin 0.3s forwards;
}

.mailIconMarg {
    animation: margin 0.3s forwards;
}

.labelnohidden {
    animation: nohidden 1.5s forwards;
}

@keyframes margin {
    0% {
        margin-right: 0;
    }

    100% {
        margin-right: 1rem;
    }
}

@keyframes nomargin {
    0% {
        margin-right: 1rem;
    }

    100% {
        margin-right: 0;
    }
}

@keyframes nohidden {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}
