.span {
    color: #3ca2c5;
}

.displayService {
    animation: displayServiceFrame 3s forwards;
}


@keyframes displayServiceFrame {
    0% {
        opacity: 0;
        margin-left: 5rem;
    }

    100% {
        opacity: 1;
        margin-left: 0;

    }
}